@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("/portfolio/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on, "ss04" on, "ss05" on,
    "ss06" on, "ss07" on;
  font-variation-settings: "wght" 200 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  :root {
    --padding-x: 1.25rem;
  }
}
